body{
	background-color: slategrey;
}

.form .ui-panel-titlebar{
	text-align: center;
}
.form .ui-panel {
    padding: 0.2em;
    margin: auto;
    min-width: 336px;
    min-height: 170px;
    position: absolute;
    top: 30%;
    margin: 0 auto;
    left: 35%;
}
.menu {
    margin: 0 auto;
    text-align: center;
}

.menu li {
    display: inline-block;
    padding: 10px 15px;
}
.menu li a {
	font-size:18px;
    text-decoration: none;
    color: #FFFFFF;
}

.menu li a:hover{
    color: #000000;
}
.fundoMenu {
    width: 100%;
    background: #929191;
    border-radius: 10px;
    padding: 0;
}

.sair{
	    float: right;
    position: absolute;
    right: 10px;
    top: 17px;
    margin-right: 20px;
}
.admin{
	 float: right;
    position: absolute;
    right: 10px;
    top: 17px;
    margin-right: 60px;
	
}
.paginainicial{
	margin: 0 auto;
    width: 1349px;
    height: 560px;
}




.bodyA{
	background-color: #897654;
}

.fundoMenuA{
	 width: 100%;
    background: #2f45b1;
    border-radius: 10px;
}

.menuA {
    margin: 0 auto;
    text-align: center
}

.menuA li {
    display: inline-block;
    padding: 10px 15px;
}

.menuA li a {
	font-size:18px;
    text-decoration: none;
    color: #FFFFFF;
}

.menuA li a:hover{
    color: #000000;
}
.paginaadmin{
	position: absolute;
    top: 16%;
    margin: 0 auto;
    left: 22%;
    margin: auto;
    /* margin-left: 276px; */
    width: 700px;
}
.ui-datatable-tablewrapper{
	font-size: 18px;
}
.tabela .ui-datatable-data{
	font-size: 14px;
    text-align: center;

}

