<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  template="templateAdmin.xhtml">
	 
	 
	 <ui:define name="conteudo">
	 
	 	<div class="paginaadmin">
	 	
	 		<img height="500" width="700" src="img/admin.png" ismap="ismap"/>
	 	</div>
	 </ui:define>
	 

</ui:composition>
