<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  template="template.xhtml">
	 
	 
	 <ui:define name="conteudo">
	 
	 	<p:panel header="Cadastrar Aniversario">
	 
	 	<h:form>
	 	
	 		<p:growl/>
	 		
	 			<h:panelGrid columns="2">
	 			
	 				<p:outputLabel title="Informe o nome do(a) aniversáriante" value="Nome Aniversariante:"/>
	 				<p:inputText value="#{aniversarioController.aniversario.nomeAniversariante}"/>
	 				
	 				<p:outputLabel title="Informe o numero de convidados" value="Numero de Covidados:"/>
	 				<p:inputText value="#{aniversarioController.aniversario.numeroConvidado}" />
	 				
	 				<p:outputLabel title="Informe a quantidade de tickets" value="Ticket:"/>
	 				<p:inputText value="#{aniversarioController.aniversario.ticket}" />
	 				
	 				<p:outputLabel title="Informe a quantidade de convites" value="Convite:"/>
	 				<p:inputText value="#{aniversarioController.aniversario.convite}" />
	 				
	 				<p:outputLabel title="Informe a quantidade de cardápios" value="Cardápio:"/>
	 				<p:inputText value="#{aniversarioController.aniversario.cardapio}" />
	 				
	 				<h:outputLabel title="Informe a data do casamento" value="Data:" />
      				<p:calendar   value="#{aniversarioController.aniversario.data}"/>
      				
	 				<p:outputLabel title="Informe o horário da festa " for="time" value="Horário:" />
        			<p:calendar id="time" value="#{aniversarioController.aniversario.horario}" pattern="HH:mm" timeOnly="true"  />
            		
            		<p:outputLabel value="Local:"/>
	  					
	  					<p:selectOneMenu 
	  							filter="true" 
	  							converter="#{entityConverter}"
	  							value="#{aniversarioController.aniversario.local}">
	  						
	  						<f:selectItems 
	  							value="#{localController.consultar()}"
	  							var="local"
	  							itemLabel="#{local.descricao}"
	  							itemValue="#{local}" />
	  					</p:selectOneMenu>
	  					
            		<p:commandButton value="Salvar" actionListener="#{aniversarioController.salvar()}" update="@form" />
	 			</h:panelGrid>
	 	</h:form>
	 	
	 	</p:panel>
	 
	 </ui:define>
	 

</ui:composition>
