<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  template="template.xhtml">
	 
	 
	 <ui:define name="conteudo">
	 
	 	<p:panel header="Cadastrar Casamento">
	 
	 	<h:form>
	 		<p:growl/>
	 			<h:panelGrid columns="2">
	 			
	 				<p:outputLabel title="Informe o nome do noivo" value="Nome do Noivo:"/>
	 				<p:inputText value="#{casamentoController.casamento.nomeNoivo}"/>
	 				
	 				<p:outputLabel title="Informe o nome da noiva" value="Nome do Noiva:"/>
	 				<p:inputText value="#{casamentoController.casamento.nomeNoiva}"/>
	 				
	 				<p:outputLabel title="Informe o numero de convidados" value="Numero de Covidados:"/>
	 				<p:inputText value="#{casamentoController.casamento.numeroConvidado}" />
	 				
	 				<p:outputLabel title="Informe a quantidade de tickets" value="Ticket:"/>
	 				<p:inputText value="#{casamentoController.casamento.ticket}" />
	 				
	 				<p:outputLabel title="Informe a quantidade de convites" value="Convite:"/>
	 				<p:inputText value="#{casamentoController.casamento.convite}" />
	 				
	 				<p:outputLabel title="Informe a quantidade de cardápios" value="Cardápio:"/>
	 				<p:inputText value="#{casamentoController.casamento.cardapio}" />
	 				
	 				<h:outputLabel title="Informe a data" value="Data:" />
      				<p:calendar   value="#{casamentoController.casamento.data}"/>
      				
	 				<p:outputLabel  title="Informe o horário" for="time" value="Horário:" />
        			<p:calendar id="time" value="#{casamentoController.casamento.horario}" pattern="HH:mm" timeOnly="true"  />
	 							
	 				<p:outputLabel value="Local:"/>
	  					


	  					<p:selectOneMenu 
	  							filter="true" 
	  							converter="#{entityConverter}"
	  							value="#{casamentoController.casamento.local}">
	  						
	  						<f:selectItems 
	  							value="#{localController.consultar()}"
	  							var="local"
	  							itemLabel="#{local.descricao}"
	  							itemValue="#{local}"/>
	  					</p:selectOneMenu>
	 				
            		<p:commandButton value="Salvar" actionListener="#{casamentoController.salvar()}" update="@form" />
	 			</h:panelGrid>
	 	</h:form>
	 	
	 	</p:panel>
	 
	 </ui:define>
	 

</ui:composition>
