<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  template="templateAdmin.xhtml">
	 
	 
	 <ui:define name="conteudo">
	 
	 	<p:panel header="Cadastrar Funcionario">
	 
	 	<h:form>
	 		<p:growl/>
	 			<h:panelGrid columns="2">
	 				
	 				<p:outputLabel value="Função"/>
	 				<p:inputText  value="#{funcionarioController.funcionario.descricao}"/>
	 				
	 				<p:outputLabel value="Nome:"/>
	 				<p:inputText value="#{funcionarioController.funcionario.nome}" />
	 				
	 				<p:outputLabel value="CPF:"/>
	 				<p:inputText value="#{funcionarioController.funcionario.cpf}" />

	 				<p:outputLabel value="RG:"/>
	 				<p:inputText  value="#{funcionarioController.funcionario.rg}" />
	 				
	 				<h:outputLabel value="Telefone:" />
      				<p:inputText   value="#{funcionarioController.funcionario.telefone}" />
      				
	 				<p:outputLabel value="Sexo:" />
        			<p:inputText value="#{funcionarioController.funcionario.sexo}" />
        			
        			<p:outputLabel value="E-mail:"/>
	 				<p:inputText value="#{funcionarioController.funcionario.email}" />
	 				
	 				<p:outputLabel value="Cidade:"/>
	 				<p:inputText value="#{funcionarioController.funcionario.cidade}" />
	 				
	 				<p:outputLabel value="Rua:"/>
	 				<p:inputText value="#{funcionarioController.funcionario.rua}"  />
	 				
	 				<p:outputLabel value="Numero:"/>
	 				<p:inputText value="#{funcionarioController.funcionario.numero}"  />
	 				
	 				<h:outputLabel value="Complemento:" />
      				<p:inputText   value="#{funcionarioController.funcionario.complemeto}" />
      				
      				<h:outputLabel value="Cep:" />
      				<p:inputText   value="#{funcionarioController.funcionario.cep}" />
      				
	 			
	 				
            		<p:commandButton value="Salvar" actionListener="#{funcionarioController.salvar()}" update="@form" />
	 			</h:panelGrid>
	 	</h:form>
	 	
	 	</p:panel>
	 
	 </ui:define>
	 

</ui:composition>
