<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  template="template.xhtml">
	 
	 
	 <ui:define name="conteudo">
	 
	 	<div class="paginainicial">
	 	
	 		<img height="560" width="1349" src="img/paginaIncial.jpg" ismap="ismap"/>
	 		
	 	</div>
	 	
	 </ui:define>

</ui:composition>
