<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  template="template.xhtml">
	 
	 
	 <ui:define name="conteudo">
	 
	 	<p:panel header="Adcionar Locais">
	 
	 	<h:form>
	 		<p:growl/>
	 			
	 			<h:inputHidden value="#{localController.local.idLocal}" />
	 			
	 			<h:panelGrid>
	 			
	 				<p:outputLabel value="Descrição:"/>
	 				<p:inputText value="#{localController.local.descricao}"/>
	 				
	 			</h:panelGrid>
	 				
            	<p:commandButton value="Salvar" actionListener="#{localController.salvar()}" update="@form" />
				
				<br/>  <br/>
				
				<p:dataTable var="local" value="#{localController.consultar()}" emptyMessage="Nenhum local cadastrado"
	  						paginator="true"
	  						rows="6" >
				
				    <p:column headerText="Descrição">
				        <h:outputText value="#{local.descricao}" />
				    </p:column>
				    
				    <p:column  headerText="Editar">
				    
	  					<p:commandButton 
	  					
	  					icon="ui-icon-pencil"
	  					actionListener="#{localController.editar(local)}"
	  					update="@form"
	  					process="@this"/>
	  					
	  				</p:column>
	  						
	  			    <p:column headerText="Excluir">
	  			    
	  					<p:commandButton 
	  					
	  					icon="ui-icon-close"
	  					actionListener="#{localController.excluir(local)}"
	  					update="@form"
	  					process="@this"/>
	  					
	  			  </p:column>
				 
				</p:dataTable>
				
	 	</h:form>
	 	
	 	</p:panel>
	 
	 </ui:define>
	 

</ui:composition>
