<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:f="http://java.sun.com/jsf/core">
	  
	  
<h:head>
	<title>SGE</title>
	<link rel="stylesheet" type="text/css" href="css/style.css" /> 
</h:head>

<h:body>

	<div class="form">
	
	<h:form>
	
	   <p:growl/>
	   
	   <p:panel  id="panel" header="Acessar Sistema">
	 
	        <h:panelGrid columns="2">
	        	
	        	<p:outputLabel for="usuario" value="Usuario:" />
	        	<p:inputText id="usuario" value="#{loginController.login.usuario}" label="usuario">
	            <f:validateLength minimum="2" />
	            </p:inputText>
	 
	            <p:outputLabel for="senha" value="Senha:" />
	            <p:inputText id="senha" type="password" value="#{loginController.login.senha}" label="senha">
	            <f:validateLength minimum="3" /> 
	            </p:inputText>
	            
	 			
	 		
	        </h:panelGrid>
	 
	        <p:commandButton value="Entrar" update="@form"  action="#{loginController.consultar()}" icon="ui-icon-check" />
	        
	    </p:panel>
	    
	</h:form>
	
	</div>
	
</h:body>


</html>