<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  template="templateAdmin.xhtml">
	 
	 
	 <ui:define name="conteudo">
	 
	 	<p:panel header="Relatorio de casamentos cadastrados">
	 		
	 		<h:form>
	 		
	 			<h:inputHidden value="#{casamentoController.casamento.idEvento}" />
	 		<div class="tabela"	>
	 		<p:dataTable id="ExRelatorio" var="casamento" value="#{casamentoController.consultar()}" emptyMessage="Nenhum Casamento cadastrado"
	  						paginator="true"
	  						rows="10"  paginatorTemplate=" 
	  						       					{FirstPageLink} 
	  						 						{PreviousPageLink}
	  						 					    {PageLinks}
	  						   						{NextPageLink}
	  						    					{LastPageLink} 
	  						    					{Exporters}">
				<f:facet name="{Exporters}">
	           		<h:commandLink style="float:right" title="Imprimir Relatorio em PDF">
	                		<p:graphicImage url="img/pdf.png" width="24"/>
	                		<p:dataExporter type="pdf" target="ExRelatorio" fileName="Relatorio_Casamento" pageOnly="true"/>
	            	</h:commandLink>
				</f:facet>
				 <p:column headerText="Nome do Noivo">
				        <h:outputText value="#{casamento.nomeNoivo}" />
				 </p:column>
				 
				 <p:column headerText="Nome da Noiva">
				        <h:outputText value="#{casamento.nomeNoiva}" />
				 </p:column>   
				 
				 <p:column headerText="Data" >
					 <f:facet name="Data">
				 			<h:outputText value="#{casamento.data}"  />
					</f:facet>
					<h:outputText value="#{casamento.data}"> <f:convertDateTime pattern="dd/MM/yyyy"/> </h:outputText>
				  </p:column>
				  
				  <p:column headerText="Horário">
				  		<f:facet name="Horário">
				       		 <h:outputText value="#{casamento.horario}" />
				        </f:facet>
				        <h:outputText value="#{casamento.horario}"> <f:convertDateTime pattern="HH:MM" /> </h:outputText>
				  </p:column>  
				  
				  <p:column headerText="Tickets">
				        <h:outputText value="#{casamento.ticket}" />
				  </p:column>
				  
				  <p:column headerText="Convites">
				        <h:outputText value="#{casamento.convite}" />
				  </p:column>
				  
				  <p:column headerText="Cardápios">
				        <h:outputText value="#{casamento.cardapio}" />
				  </p:column> 
				  
				  <p:column headerText="Local">
				        <h:outputText value="#{casamento.local.descricao}" />
				  </p:column>
				  
				  <p:column headerText="Numero de Convidados">
				        <h:outputText value="#{casamento.numeroConvidado}" />
				  </p:column>
			 
				</p:dataTable>
	 			</div>
	 	</h:form>
	 	
	 	</p:panel>
	 
	 </ui:define>
	
</ui:composition>
