<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:f="http://java.sun.com/jsf/core">
	  
	  
<h:head>
	<title>SGE</title>
	<link rel="stylesheet" type="text/css" href="css/style.css" /> 
</h:head>

<h:body>

	<h:form>
	<div class="fundoMenu">
		 <ul class="menu">
	 		 <li> <a href="index.jsf" title="Pagina Inicial" >Pagina Inicial</a> </li>
	  		 <li> <a href="casamento.jsf"  title="Efetuar cadastro de casamento">Casamento</a> </li>
	  		 <li> <a href="aniversario.jsf" title="Efetuar cadastro de aniversário">Aniversário</a> </li>
	  		 <li> <a href="local.jsf" title="Efetuar cadastro de um local" >Local</a> </li>
		</ul>
		
	  <a class="sair"  href="login.jsf" title="Sair do Sistema">  <IMG  height="25" width="20" src="img/logout.png" /></a> 
	  <a class="admin"  href="login.jsf" title="Acessar Painel Administrativo">  <IMG  height="25" width="20" src="img/adminA.png" /></a> 
	</div>
		
    </h:form>		
	
	<br/>
	
	<ui:insert name="conteudo"/>

</h:body>


</html>