<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:f="http://java.sun.com/jsf/core">
	  
	  
<h:head>
	<title>SGE</title>
	 <link rel="stylesheet" type="text/css" href="css/style.css" /> 
</h:head>

<div class="dody">
<h:body>

	<h:form>
	
	<div class="fundoMenuA">
		 <ul class="menuA">
	 		 <li> <a href="administrativo.jsf" title="Pagina Inicial" >Pagina Inicial </a>  </li>
	  		 <li> <a href="funcionario.jsf"  title="Cadastrar Funcionario">Cadastrar Funcionario</a> </li>
	  		 <li> <a href="relatorioCasamento.jsf" title="Emitiver Relatorio de Casamentos Cadastrados">Relatorio Casamentos</a> </li>
	  		 <li> <a href="relatorioAniversario.jsf" title="Emitiver Relatorio de Aniversário Cadastrados" >Relatorio Aniversários</a> </li>
		</ul>
		
	  <a class="sair"  href="login.jsf" title="Sair do Sistema">  <IMG  height="25" width="20" src="img/logout.png" /></a> 
	</div>
		
    </h:form>		
	
	<br/>
	
	<ui:insert name="conteudo"/>
	
</h:body>
</div>

</html>